:root {
  --text-smst: 1.6rem;
  --text-smr: 1.8rem;
  --text-sm: 2rem;
  --text-md: 3rem;
  --text-lg: 4rem;
  --text-lgr: 4.2rem;
  --text-lgst: 4.4rem;
  --font-sans: "Raleway", sans-serif;
  --font-serif: "Bitter", serif;
  --font-logo: "Dancing Script", cursive, serif;
  --font-logo-alt: "Italianno", cursive;
  --font-hand: "Kaushan Script", sans-serif; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #006600; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  width: 80vw;
  margin: auto;
  background-color: white;
  font-family: "Raleway", sans-serif; }

::selection {
  background-color: var(--color-primary-dark);
  color: var(--color-white); }

.mb-sm {
  margin-bottom: 2rem !important; }

.mb-md {
  margin-bottom: 3rem !important; }

.mb-lg {
  margin-bottom: 4rem !important; }

.mb-hg {
  margin-bottom: 8rem !important; }

.mt-sm {
  margin-top: 2rem !important; }

.mt-md {
  margin-top: 3rem !important; }

.mt-lg {
  margin-top: 4rem !important; }

.mt-hg {
  margin-top: 8rem !important; }

.offers {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(2, 1fr); }
  .offers__card {
    grid-column: 1 / -1;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    min-height: 300px; }
    .offers__card--1 {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../../public/img/offers/pizza.webp);
      background-size: cover;
      background-position: 50%; }
    .offers__card--2 {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../../public/img/offers/cookies.webp);
      background-size: cover;
      background-position: 50%; }
  .offers__content {
    background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    height: 100%;
    display: grid;
    color: #fff;
    padding: 4rem;
    grid-template-rows: 1fr 1fr 1fr; }
  .offers__heading {
    font-size: 4rem;
    margin-bottom: 2.2rem; }
  .offers__text {
    font-size: 2rem; }

.recommendations {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 4rem repeat(4, 1fr) 4rem;
  grid-template-rows: 8rem min-content 4rem;
  grid-column-gap: 2rem; }
  .recommendations__heading {
    grid-column: 2 / -1;
    align-self: center;
    font-size: 3rem;
    font-family: var(--font-serif); }
  .recommendations > div:first-of-type {
    grid-column: 2 / 3; }
  .recommendations__card {
    background-color: #ddd;
    border-radius: 10px 10px 20px 20px;
    overflow: hidden; }
  .recommendations__link {
    text-decoration: none;
    color: #000; }
  .recommendations__img {
    width: 100%; }
  .recommendations__title {
    margin: 1rem 0 2rem 2rem;
    font-size: 2.4rem; }
  .recommendations__text {
    margin: 1rem 2rem 3rem;
    font-size: 2rem; }

.story {
  grid-column: 1 / -1;
  background-color: beige;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 4rem max-content 4rem; }
  .story__img {
    grid-row: 1 / -1;
    grid-column: 5 / 8;
    width: 100%;
    margin: auto; }
  .story__content {
    grid-row: 2 / 3;
    grid-column: 2 / 4; }
  .story__heading-2 {
    font-family: var(--font-logo-alt);
    font-size: 5rem; }
  .story__text {
    font-size: 2.8rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%; }
    @supports (object-fit: cover) {
      .bg-video__content {
        object-fit: cover; } }

.btn {
  background-color: #177082;
  color: #fff;
  border: none;
  border-radius: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s; }
  .btn:hover {
    background-color: #1f96ad; }

.navigation {
  grid-column: 1 / -1; }
  .navigation__list {
    list-style: none;
    display: grid;
    grid-template-columns: minmax(8rem, 10vw) 6fr [nav-start] repeat(5, min-content) [nav-end] 1fr;
    grid-column-gap: 2rem;
    align-items: center; }
    .navigation__list > li:nth-child(2) {
      grid-column: 3 / 4; }
  .navigation__item {
    text-align: center; }
  .navigation__link:link, .navigation__link:visited {
    font-size: 2rem;
    color: var(--color-black);
    text-decoration: none;
    font-family: var(--font-logo-alt);
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all 0.2s; }
  .navigation__link:hover, .navigation__link:active {
    background-color: rgba(0, 0, 0, 0.05);
    transform: translateY(-3px); }
  .navigation__logo {
    width: 6rem;
    height: 6rem;
    margin-left: 4rem;
    margin-bottom: 10%;
    position: relative; }
    .navigation__logo--icon {
      width: 4rem;
      height: 4rem;
      position: absolute;
      bottom: 0;
      left: 0; }
    .navigation__logo--title {
      font-size: var(--text-smr);
      font-family: var(--font-logo);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 30vw;
      color: #000; }

.footer {
  background-color: #ff9933;
  color: var(--color-white);
  padding: 2rem;
  grid-column: 1 / -1; }

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  grid-gap: 2rem;
  align-items: center; }
  .nav__link:link, .nav__link:visited {
    font-size: 2.6rem;
    color: #fff;
    text-decoration: none;
    font-family: var(--font-logo);
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all 0.2s; }
  .nav__link:hover, .nav__link:active {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-3px); }

.copyright {
  font-size: 1.4rem;
  text-align: center;
  width: 70%;
  margin: 4rem auto 0; }

.home__container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: min-content max-content max-content min-content; }

.home__bg-video {
  position: relative;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  opacity: 0.85;
  max-height: 50vh; }

.home__header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  z-index: 100;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 4rem min-content 4rem; }

.home__logo {
  grid-column: 2 / 5;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 22rem 1fr;
  grid-template-rows: 1fr 20rem 1fr; }
  .home__logo--container {
    position: relative;
    background-color: beige;
    border-radius: 40px 50% 10px 50%;
    grid-column: 2 / 3;
    grid-row: 2 / 3; }
  .home__logo--icon {
    width: 8rem;
    height: 8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .home__logo--title {
    font-size: 4rem;
    position: absolute;
    bottom: 20%;
    left: 10%;
    width: 100%;
    font-family: var(--font-logo); }

.home__header-content {
  grid-column: 6 / 10;
  grid-row: 2 / 3;
  position: relative;
  padding: 1rem; }
  .home__header-content::before {
    content: "";
    position: absolute;
    border-radius: 1rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;
    background-color: #5f5954; }

.home__heading-3 {
  font-size: 4rem;
  font-family: var(--font-logo); }

.home__heading-2 {
  font-size: 4.4rem;
  font-family: var(--font-sans);
  color: #fff; }

.home__header-text {
  font-size: 2.4rem;
  color: #fff; }

.about__container {
  display: grid;
  grid-template-columns: repeat 6, 1fr;
  grid-template-rows: min-content min-content; }

.about__hero {
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr); }
  .about__hero-pictures {
    width: 100%;
    grid-column: 2 / 4;
    grid-row: 2 / -2;
    position: relative; }
    .about__hero-pictures--1 {
      width: 100%;
      object-fit: cover; }
    .about__hero-pictures--2 {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 50%;
      position: absolute;
      right: 0;
      bottom: 0;
      margin-right: -6rem;
      margin-bottom: -6rem; }
  .about__hero-content {
    margin: auto;
    grid-column: 4 / -2;
    grid-row: 2 / -2;
    padding: 4rem;
    background-color: beige;
    border-radius: 0 25px 25px 0; }
  .about__hero-heading {
    font-size: var(--text-lg);
    font-family: var(--font-logo); }
  .about__hero-text {
    font-size: var(--text-md);
    font-family: var(--font-logo-alt); }
  .about__hero-btn {
    font-size: var(--text-smr);
    text-align: center;
    max-width: 30rem;
    margin: 4rem auto; }
  .about__hero-link {
    text-decoration: none; }

.about__story {
  background-color: slategray;
  color: #fff;
  grid-row: 2 / 3;
  padding: 10vw; }
  .about__story-text {
    font-size: 6rem;
    font-family: var(--font-logo-alt);
    border: 10px double #ff9933;
    padding: 2rem; }
  .about__story-list {
    font-size: 1.6rem;
    margin-top: 4rem; }
  .about__story-item {
    margin: 1.8rem 0 1.8rem 8rem;
    font-size: 2.8rem;
    font-family: var(--font-serif);
    text-decoration: #ff9933 2px wavy underline; }

.contact__container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 40vh 50vh max-content min-content min-content; }

.contact__bg-video {
  position: relative;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  opacity: 0.85; }

.contact__bg-video::before {
  content: "";
  background-color: darkslategray;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0.55; }

.contact__header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  z-index: 100;
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: 1fr min-content;
  padding: 2rem; }

.contact__header-content {
  grid-column: 2 / 3;
  grid-row: -2 / -1;
  color: #fff;
  text-align: right; }

.contact__heading {
  font-size: var(--text-lg); }

.contact__text {
  font-size: var(--text-md); }

.contact__form-container {
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: beige;
  padding: 4rem; }

.contact__form-heading {
  font-family: var(--font-logo);
  font-size: 4rem;
  margin: 4rem auto; }

.contact__form-label {
  display: block;
  font-size: 3rem;
  font-family: var(--font-logo-alt);
  font-weight: bold; }

.contact__form-input {
  display: block;
  margin-bottom: 4rem;
  font-size: 2rem;
  font-family: var(--font-hand); }

.directions {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 20% 1fr 20%; }
  .directions__map {
    grid-column: 1 / 6;
    grid-row: 1 / -1; }
  .directions__content {
    grid-column: 6 / -1;
    grid-row: 1 / -1;
    padding: 2rem;
    margin: auto; }
  .directions__heading {
    font-size: var(--text-md); }
  .directions__text {
    font-size: var(--text-sm); }

.mapouter {
  position: relative;
  text-align: right; }

.gmap_canvas {
  overflow: hidden;
  background: none !important; }

.menu__container {
  padding: 4rem 10vw; }

.menu__heading {
  font-size: var(--text-lg);
  text-align: center;
  font-family: var(--font-hand); }

.menu__wrapper {
  background-color: slategray; }

.menu__list {
  list-style: none;
  color: #fff;
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2; }
  .menu__list--heading {
    font-size: var(--text-md);
    text-align: center;
    width: 70%;
    margin: 0 auto;
    background-color: #fff;
    color: slategray; }
  .menu__list--item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem; }
  .menu__list--entry {
    font-size: var(--text-sm); }
  .menu__list--spacer {
    flex-grow: 2;
    position: relative; }
  .menu__list--spacer::before {
    content: "";
    border-bottom: dotted 2px #fff;
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%); }
  .menu__list--price {
    font-size: var(--text-smst); }
